<div class="players-list" *ngIf="!selectingBotLevel">
  <span class="online-users">
    <i class="bx bx-user"></i> {{ onlineUsers.length + 1 }}
  </span>

  <ng-container *ngIf="onlineUsers.length > 0; else noPlayers">
    <div class="player-item" *ngFor="let user of onlineUsers; let i = index">
      <span class="player-name">{{ user?.firstName }}</span>
      <button
        (click)="onInvitePlayer(user.userId)"
        [disabled]="pendingInvite || isInviteSent(i, user.userId)"
      >
        <ng-container *ngIf="isInviteSent(i, user.userId); else inviteText">
          <div class="waiting-animation">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          waiting...
        </ng-container>
        <ng-template #inviteText>Invite</ng-template>
      </button>
    </div>
  </ng-container>

  <ng-template #noPlayers>
    <div class="no-players" style="color: #777; text-align: center; padding: 30px">
      <div class="waiting-animation">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <p>Waiting for other players to connect...</p>
    </div>
  </ng-template>
</div>
