.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.players-list {
  width: 100%;
  margin-bottom: 20px;

  .online-users {
    display: block;
    color: #fff;
    margin-bottom: 15px;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    // width: 40px;
  }

  .player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
    margin-bottom: 8px;
    border-radius: 4px;
    color: #fff;
    border: 1px dashed #333;

    button {
      background: #4caf50;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        background: #cccccc;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background: #45a049;
      }
    }
  }
}

.invite-notification {
  background: #000;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0;

  h3 {
    color: #cccccc;
    margin-bottom: 10px;
  }

  p {
    color: #555;
    margin-bottom: 15px;
  }

  .invite-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;

   
    button {
      padding: 8px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;

      &.accept {
        background: #4caf50;
        color: white;

        &:hover:not(:disabled) {
          background: #45a049;
        }
      }

      &.decline {
        background: #333;
        color: white;

        &:hover:not(:disabled) {
          background: #444;
        }
      }

      &:disabled {
        background: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}

.game-board {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;

  .game-info {
    margin-bottom: 20px;
    h3 {
      padding-right: 60px;
      color: #333;
      margin-bottom: 10px;
      font-size: 30px;
      margin-left: -5px;
    }

  }

  .board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;

    .row {
      display: flex;
      gap: 5px;
      margin: 0;
    }

    .cell {
      width: 100px;
      height: 100px;
      background: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5em;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.2s ease;

      &.x {
        color: #e74c3c;
      }

      &.o {
        color: #3498db;
      }

      &:hover:not(.disabled) {
        background: #333;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.8;
      }
    }
    .footer-buttons {
      max-width: 310px;
      display: flex;
      gap: 10px;
      .back-button {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 500;
        padding: 13px;
        flex: 1;
        border-radius: 7px;
        background: #333;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;
        border: none;
  
        &:hover {
          background: #444;
        }
      }
      .invite-button {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 500;
        padding: 13px;
        flex: 1;
        border-radius: 7px;
        background: #45a049;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;
        border: none;
  
        &:hover {
          background: #4caf50;
        }
      }
    }
  }
}
