<div class="game-container" *ngIf="user && !isUserWaiting">
  <!-- Game players list -->
  <app-player-list
    class="players-list"
    [selectingBotLevel]="selectingBotLevel"
    [onlineUsers]="onlineUsers"
    [pendingInvite]="!!pendingInvite"
    [sentInvites]="sentInvites"
    (invitePlayer)="invitePlayer($event)"
    *ngIf="!isInGame && !pendingInvite"
  >
  </app-player-list>

  <!-- Game Invitation -->
  <app-invite-modal
    [pendingInvite]="pendingInvite || null"
    (acceptInvite)="acceptInvite()"
    (rejectInvite)="rejectInvite()"
  ></app-invite-modal>

  <!-- Game Board -->
  <app-game-board
    class="game-board"
    *ngIf="isInGame"
    [selectingBotLevel]="selectingBotLevel"
    [gameState]="gameState"
    [currentPlayerId]="currentPlayerId"
    [isInGame]="isInGame"
    (makeMove)="makeMove($event)"
    (leaveGame)="leaveGame()"
    (inviteAgain)="inviteAgain()"
    (playWithBot)="playWithBot()"
  ></app-game-board>

  <!-- Play with Wall-E bot -->
  <button
    (click)="playWithBot()"
    class="play-with-bot"
    *ngIf="!isInGame && !selectingBotLevel"
  >
    Play with Wall-E <i class="bx bx-bot"></i>
  </button>
</div>
<app-invalid-user [user]="user" [isUserWaiting]="isUserWaiting">
</app-invalid-user>
<app-bot-level
  [botLevels]="botLevels"
  [selectingBotLevel]="selectingBotLevel"
  (botLevelSelected)="selectedBotLevel($event)"
></app-bot-level>
