<div class="game-container" *ngIf="user && !userWaiting">
  <app-player-list
    class="players-list"
    [onlineUsers]="onlineUsers"
    [pendingInvite]="!!pendingInvite"
    [sentInvites]="sentInvites"
    (invitePlayer)="invitePlayer($event)"
    *ngIf="!isInGame && !pendingInvite"
  ></app-player-list>

  <!-- Game Invitation -->
  <div class="invite-notification" *ngIf="pendingInvite">
    <h3>Game Invitation</h3>
    <p>
      You have been invited to play by {{ pendingInvite.user?.firstName }}
      {{ pendingInvite.user?.lastName }}
    </p>
    <div class="invite-actions">
      <button
        class="accept"
        [disabled]="!pendingInvite"
        (click)="acceptInvite()"
      >
        Accept
      </button>
      <button
        class="decline"
        [disabled]="!pendingInvite"
        (click)="rejectInvite()"
      >
        Decline
      </button>
    </div>
  </div>

  <!-- Game Board -->
  <div class="game-board" *ngIf="gameState.status !== 'waiting' && isInGame">
    <div class="game-info">
      <h3 *ngIf="!gameState.isGameOver">
        {{ isMyTurn() ? "Your turn!" : "Opponent's turn..." }}
      </h3>
      <p *ngIf="gameState.isGameOver" class="game-result">
        {{
          gameState.winner
            ? gameState.winner === this.gameState.players[this.currentPlayerId]
              ? winner()
              : loser()
            : "It's a draw 🤝"
        }}
      </p>
    </div>

    <div class="board">
      <div class="row" *ngFor="let row of [0, 1, 2]">
        <div
          class="cell"
          *ngFor="let col of [0, 1, 2]"
          [class.x]="gameState.board[row * 3 + col] === 'X'"
          [class.o]="gameState.board[row * 3 + col] === 'O'"
          [class.disabled]="!isMyTurn() || gameState.isGameOver"
          (click)="makeMove(row * 3 + col)"
        >
          {{ gameState.board[row * 3 + col] }}
        </div>
      </div>
      <div class="footer-buttons">
        <button class="back-button" (click)="leaveGame()">Back</button>
        <button
          class="invite-button"
          (click)="inviteAgain()"
          *ngIf="gameState.isGameOver"
        >
          Invite again
        </button>
      </div>
    </div>
  </div>
</div>
<div class="no-user" *ngIf="!user && !userWaiting">
  <h3 class="no-user-message">You are not logged in!!!</h3>
</div>
